<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9aMy1VVGTOv6P_QOfOhf0ZmMqyxDTph0</string>
	<key>GCM_SENDER_ID</key>
	<string>443552687268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.c20785.appC20785</string>
	<key>PROJECT_ID</key>
	<string>c20785</string>
	<key>STORAGE_BUCKET</key>
	<string>c20785.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443552687268:ios:80dc663b2d93d3ecd67231</string>
</dict>
</plist>